@import url("https://fonts.googleapis.com/css?family=Lexend+Deca&display=swap");
@import url("https://fonts.googleapis.com/css?family=Lexend+Deca|Montserrat&display=swap");
html {
  scroll-behavior: smooth;
}
html,
body {
  margin: 0;
  height: 100%;
  width: 100%;
  padding: 0;
}

a {
  color: inherit;
}
a:hover {
  text-decoration: none;
}
section {
  display: block;
  height: 100%;
  width: 100%;
  padding: 60px;
  padding-left: 120px;
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: no-repeat #fff7f7;
}
header {
  background: #69848f;
  padding: 20px;
  text-align: right;
}
.navbar {
  position: fixed;
  width: 100%;
}
.icons {
  position: fixed;
}
#github {
  display: inline-block;
  margin-right: 20px;
}
#linkedin {
  display: inline-block;
  margin-right: 20px;
}
#devpost {
  display: inline-block;
  margin-right: 20px;
}
header > h1 {
  color: thistle;
  display: inline-block;
  margin-right: 10px;
  font-family: Lexend Deca, sans-serif;
  font-size: 25px;
}
.About {
  padding-top: 200px;
  color: white;
  background-color: #ffa8a8;
  position: relative;
  text-align: center;
}
/* #avatar{
  text-align: center;
  margin-top: 50px;
  background-color: #ffa8a8;
} */
#name {
  text-align: center;
  margin-top: 20px;
  font-size: 100px;
  font-family: Lexend Deca, sans-serif;
  font-weight: bolder;
  background-color: #ffa8a8;
}
#description {
  margin: 30px auto;
  margin-top: 8%;
  margin-bottom: 5%;
  width: 60%;
  text-align: center;
  font-family: Lexend Deca, sans-serif;
  font-size: 20px;
  background-color: #ffa8a8;
  color: #363636;
}
#arrow {
  margin-top: 3000%;
  background-color: white;
  padding: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
}
.Projects {
  padding-left: 100px;
  padding-bottom: 100px;
  padding-right: 100px;
  text-align: center;
  width: 75;
  background-color: #fff7f7;
  padding-left: 10%;
  font-family: Lexend Deca, sans-serif;
}
.card {
  display: inline-block;
  margin-right: 10%;
  margin-top: 10px;
  margin-left: 5%;
  margin-bottom: 5%;
  width: 500px;
  color: black;
  background-color: #ffffff;
}
#headingprojects {
  padding-top: 100px;
  text-align: left;
  font-weight: bold;
  font-size: 45px;
  font-family: Lexend Deca, sans-serif;
  color: black;
  padding-bottom: 50px;
  margin-left: 5%;
}
/* } .Experiences{
  text-align: center;
  background-color:#fff7f7;
  padding-bottom: 50px;
  font-family: Lexend Deca, sans-serif;
}#trustylogo{
 float: left; 
 padding-left: 20%;
}#companyname{
    margin-top: 75px;
    font-size: 30px;
    font-weight: bold;
    font-family: Lexend Deca, sans-serif;
  }#position{
    font-size: 20px;
    font-weight: bold;
    font-family: Lexend Deca, sans-serif;
  }#headingexperiences{
  text-align: left;
  font-weight: bold;
  font-size: 45px;
  font-family: Lexend Deca, sans-serif;
  color: black;
  margin-bottom: 50px;
  margin-left: 5%;
} */
.Skills {
  background-color: #fff7f7;
  font-family: Lexend Deca, sans-serif;
}
#headingskills {
  padding-top: 70px;
  text-align: left;
  font-weight: bold;
  font-size: 45px;
  font-family: Lexend Deca, sans-serif;
  color: black;
  margin-left: 5%;
}
#skills1 {
  display: inline-block;
  margin-left: 17%;
}
#skills2 {
  display: inline-block;
  margin-left: 17%;
}
#skills3 {
  display: inline-block;
  margin-left: 17%;
}
#skills4 {
  display: inline-block;
  margin-left: 17%;
}
#skills5 {
  display: inline-block;
  margin-left: 17%;
}
#skills6 {
  display: inline-block;
  margin-left: 17%;
}
#skills7 {
  display: inline-block;
  margin-left: 17%;
}
#skills8 {
  display: inline-block;
  margin-left: 17%;
}
#tags {
  color: gray;
}
.Education {
  text-align: center;
}
#headingeducation {
  text-align: left;
  font-weight: bold;
  font-size: 45px;
  font-family: Lexend Deca, sans-serif;
  color: black;
  padding-bottom: 50px;
  padding-left: 5%;
}

#school {
  padding-top: 10px;
  font-size: 30px;
  font-weight: bold;
  font-family: Lexend Deca, sans-serif;
}
#diploma {
  font-size: 15px;
  font-weight: bolder;
  font-family: Lexend Deca, sans-serif;
}
#year {
  font-size: 20px;
  font-weight: bold;
  font-family: Lexend Deca, sans-serif;
  padding-bottom: 50px;
}
.Awards {
  text-align: center;
  background-color: #fff7f7;
}
#headingawards {
  text-align: left;
  font-weight: bold;
  font-size: 45px;
  font-family: Lexend Deca, sans-serif;
  color: black;
  padding-bottom: 50px;
  padding-left: 5%;
}
.Education {
  padding: 20px;
  background-color: #fff7f7;
}
.Awards {
  padding: 20px;
  text-align: center;
  font-family: Lexend Deca, sans-serif;
}
.table {
  border: 1px solid #fff7f7;
  padding-top: 20px;
}
.table > thead > tr > th {
  border: 1px solid #fff7f7;
}
.table > tbody > tr > td {
  border: 1px solid #fff7f7;
}
.Getintouch {
  text-align: center;
  background-color: #ffa8a8;
  padding-bottom: 80px;
}
#heading_getintouch {
  padding-top: 10px;
  text-align: left;
  font-weight: bold;
  font-size: 45px;
  font-family: Lexend Deca, sans-serif;
  color: black;
  padding-bottom: 50px;
  text-align: center;
  background-color: #ffa8a8;
}
#githubicon {
  margin-right: 5%;
}
#linkedinicon {
  margin-right: 5%;
}
